name: "Build"

run-name: "Build ${{ github.ref_name }}"

on:
  workflow_dispatch:
  push:
    branches: [ main, develop, 1.4.x ]
  pull_request:
    branches: [ main, develop, 1.4.x ]
  schedule:
    - cron: "0 10 * * *"

jobs:
  build:
    name: Build

    env:
      NGROK_AUTHTOKEN: ${{ secrets.NGROK_AUTHTOKEN }}
      NGROK_HTTP_EDGE: ${{ secrets.NGROK_HTTP_EDGE }}
      NGROK_TCP_EDGE: ${{ secrets.NGROK_TCP_EDGE }}
      NGROK_API_KEY: ${{ secrets.NGROK_API_KEY }}
      NGROK_HTTP_EDGE_ENDPOINT: ${{ secrets.NGROK_HTTP_EDGE_ENDPOINT }}
      NGROK_TCP_EDGE_ENDPOINT: ${{ secrets.NGROK_TCP_EDGE_ENDPOINT }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        java-version: [ 21 ]
        include:
          - java-version: 11
            os: ubuntu-latest
          - java-version: 15
            os: ubuntu-latest
          - java-version: 17
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java-version }}
          distribution: adopt
      - name: Build code and docs
        run: make build
      - name: Test
        run: make test
      - name: Check code
        run: make check
      - name: Validate package
        run: make local
      - name: Upload coverage
        if: matrix.os == 'ubuntu-latest' && matrix.java-version == '17'
        uses: codecov/codecov-action@v1
        with:
          file: ./build/reports/jacoco/report.xml

  automerge:
    name: "Auto Approve"
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          target: major
          use-github-auto-merge: true
