name: Build

run-name: Build ${{ github.ref_name }}

on:
  push:
    branches: [ main, develop, 1.4.x ]
  pull_request:
    branches: [ main, develop, 1.4.x ]
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write
  issues: none
  pull-requests: none

concurrency:
  group: java-ngrok-singleton

jobs:
  validate:
    name: Validate
    uses: ./.github/workflows/validate.yml
    secrets: inherit

  build:
    name: Build

    env:
      NGROK_AUTHTOKEN: ${{ secrets.NGROK_AUTHTOKEN }}
      NGROK_API_KEY: ${{ secrets.NGROK_API_KEY }}
      NGROK_SUBDOMAIN: ${{ github.repository_owner }}
      NGROK_HOSTNAME: ${{ secrets.NGROK_HOSTNAME }}
      NGROK_DOMAIN: ${{ secrets.NGROK_DOMAIN }}

    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        java-version: [ "21" ]
        include:
          - java-version: "11"
            os: ubuntu-latest
          - java-version: "15"
            os: ubuntu-latest
          - java-version: "17"
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: zulu
      - name: Build
        run: make build
      - name: Test
        run: make test
