name: Deploy

run-name: Release ${{ github.ref_name }}

on:
  release:
    types: [ created ]

concurrency:
  group: java-ngrok-singleton

jobs:
  build:
    name: Build
    uses: alexdlaird/java-ngrok/.github/workflows/build.yml@main
    secrets: inherit

  deploy:
    name: Deploy
    needs: build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: adopt
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
      - name: Validate version
        run: make validate-release VERSION=${{ steps.get_version.outputs.VERSION }}
      - name: Publish
        env:
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.JRELEASER_MAVENCENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.JRELEASER_MAVENCENTRAL_PASSWORD }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: make upload
